<main class="main">
  <div class="header">
    <select [formControl]="symbolFormControl">
      @for (crypto of cryptos; track crypto) {
        <option [value]="crypto">{{crypto}}</option>
      }
    </select>
    <!-- <button>Subscribe</button> -->
    <p>
      Note: Change currency to get market and historical data
    </p>
  </div>
  <app-real-time [isWsConnected]="isWsConnected$ | async"></app-real-time>
  <app-historical-chart [symbol]="symbolFormControl.value"></app-historical-chart>
</main>
