/* You can add global styles to this file, and also import other style files */
select {
  width: fit-content;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid var(--gray-400);
  border-radius: 4px;
  outline: none;
}